/*
body color: few shades darker than slategray - 4a4e69
header color: 22223b (dark but not black. towards blue)
*/

*{
  background: #FFFFFF;
  color: #4a4e69;
}

h1{
  color: #22223b;
}

h2{
  color: #22223b;
}

img {
  
}
